
.parallax {
    background-image: url(background.png)  ;
    min-height: 1024px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1440px;
    

}

nav {
	padding-left: 80px;

}

.header a {
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
  color: #ffffff;
  display: inline-block;
  padding-top: 37px;
  font-size: 20px;
  padding-right: 45px;

}

h1 {
	font-size: 120px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	padding-top: 150px;
	color: #ffffff;
}



/*#rectangle {
    width: 38px;
    height: 3px;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;

}*/

h2 {
	font-size: 36px;
	font-family: 'Playfair Display', serif;
	padding-left: 960px;
	color: #000000;
	padding-top: 263px;
	width: 377px;
	
}

h3 {
	font-size: 36px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #000000;
	padding-top: 656px;

}

.reviews {
	text-align: center;
}

#name h4 {
	font-family:'Montserrat', sans-serif;
  	color: #000000;
	font-size: 24px;
	width: 342px;
	height: 29px;
	padding-left: 80px;
	padding-top: 47px;
	display: inline-block;
	text-align: left;
}

#reviews p {
	font-family:'Montserrat', sans-serif;
  	color: #000000;
	font-size: 20px;
	width: 342px;
	height: 192px;
	margin-left: 80px;
	margin-top: 9px;
	display: inline-block;
	text-align: left;	
}

#reserv img {
	float: left;
	margin-left: 80px;
	margin-top: 255px;
	width: 770px;
}

#reserv p {
	padding-top: 24px;
	font-size: 20px;
	font-family:'Montserrat', sans-serif;
	padding-left: 960px;
	color: #000000;
	width: 377px;
}

/*
* {
	margin: 0;
	padding: 0;
	
}


.wrapper {
	height: 1024px;
	
	position: relative;
	width: 1440px;
}

.slider {
	
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	
}

.wrapper > input {
	display: none;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}

.slide1 { background-image: url(breakfast.jpg); }
.slide2 { background-image: url(main.jpg); }
.slide3 { background-image: url(breakfast.jpg); }
.slide4 { background-image: url(main.jpg); }

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 3px;
	margin: 0px 25px 0 25px;
	position: relative;
	width: 38px;
}



.wrapper label:after {
	border: 0px solid rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.3);
	content: " ";
	display: block;
	height: 3px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 38px;
	
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 3px;
	margin: 0px 25px 0 25px;
	position: relative;
	width: 38px;
	
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4)


.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	transform: scale(1.4);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4
 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}*/

#download p {
	text-decoration: none;
	font-family:'Montserrat', sans-serif;
  	color: #000000;
	font-size: 18px;
	height: 18px;
	width: 170px;
	padding-left: 1221px;
	border-radius: 0px;

	/*padding-top: 1985px;
	padding-left: 1221px;
	padding-right: 80px;*/

}